.candidate1 {
  align-self: stretch;
  height: 32px;
  position: relative;
  line-height: 32px;
  font-weight: 500;
  display: flex;
  width: auto;
}
.candidate1:hover {
  font-weight: 500;
  font-family: var(--body-small-400);
  font-size: var(--body-xl-500-size);
  line-height: 32px;
  text-align: left;
  color: var(--gray-white);
  display: flex;
  align-self: stretch;
  width: auto;
}
.footer-link1 {
  height: 24px;
  width: 98px;
  position: relative;
  line-height: 24px;
  display: flex;
}
.footer-link1:hover {
  font-family: var(--body-small-400);
  font-size: var(--body-medium-400-size);
  line-height: 24px;
  text-align: center;
  color: var(--gray-400);
  display: flex;
}
.footer-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0px;
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-9xs);
}
.footer-link:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-9xs);
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0px;
  box-sizing: border-box;
}
.footer-link3 {
  height: 24px;
  width: 139px;
  position: relative;
  line-height: 24px;
  display: flex;
}
.footer-link3:hover {
  font-family: var(--body-small-400);
  font-size: var(--body-medium-400-size);
  line-height: 24px;
  text-align: center;
  color: var(--gray-400);
  display: flex;
}
.footer-link5 {
  height: 24px;
  width: 165px;
  position: relative;
  line-height: 24px;
  display: flex;
}
.footer-link5:hover {
  font-family: var(--body-small-400);
  font-size: var(--body-medium-400-size);
  line-height: 24px;
  text-align: center;
  color: var(--gray-400);
  display: flex;
}
.footer-link7 {
  height: 24px;
  width: 88px;
  position: relative;
  line-height: 24px;
  display: flex;
}
.footer-link7:hover {
  font-family: var(--body-small-400);
  font-size: var(--body-medium-400-size);
  line-height: 24px;
  text-align: center;
  color: var(--gray-400);
  display: flex;
}
.link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  width: auto;
  align-self: unset;
  height: auto;
  text-align: center;
  font-size: var(--body-medium-400-size);
  color: var(--gray-400);
}
.link:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: column;
  gap: var(--gap-9xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.candidate {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 166;
  max-width: 200;
  width: 100%;
  height: auto;
  text-align: left;
  font-size: var(--body-xl-500-size);
  color: var(--gray-white);
  font-family: var(--body-small-400);
}
.candidate:hover {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: var(--gap-base);
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 166;
  max-width: 200;
}

@media screen and (max-width: 450px) {
  .candidate1 {
    font-size: var(--body-medium-400-size);
    line-height: 26px;
  }
}
