.featured-jobs1 {
  margin: 0;
  height: 50px;
  width: 257px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  z-index: 1;
}
.featured-jobs1:hover {
  font-weight: 600;
  font-family: var(--font-outfit);
  font-size: var(--font-size-21xl);
  text-align: center;
  color: var(--color-gray-100);
  display: flex;
  height: 50px;
}
.list-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-6xs);
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.list-item:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px 0px 0px var(--padding-6xs);
  box-sizing: border-box;
}
.technical-support-specialist {
  align-self: stretch;
  height: 28px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: flex;
  width: auto;
}
.technical-support-specialist:hover {
  font-weight: 500;
  font-family: var(--font-outfit);
  font-size: var(--body-xl-500-size);
  line-height: 28px;
  text-align: left;
  color: var(--main);
  display: flex;
  align-self: stretch;
  width: auto;
}
.part-time {
  height: 12px;
  width: 66px;
  position: relative;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
}
.part-time:hover {
  font-weight: 600;
  font-family: var(--body-small-400);
  font-size: var(--font-size-xs);
  line-height: 12px;
  text-align: left;
  color: var(--success-500);
  display: flex;
}
.type1 {
  border-radius: var(--br-10xs);
  background-color: var(--success-50);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-3xs);
}
.type1:hover {
  background-color: var(--success-50);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--br-10xs);
  padding: var(--padding-9xs) var(--padding-5xs);
  box-sizing: border-box;
}
.salary-20000-1 {
  height: 20px;
  width: 175px;
  position: relative;
  font-size: var(--body-small-400-size);
  line-height: 20px;
  color: var(--gray-500);
  display: flex;
}
.salary-20000-1:hover {
  font-family: var(--body-small-400);
  font-size: var(--body-small-400-size);
  line-height: 20px;
  text-align: left;
  color: var(--gray-500);
  display: flex;
}
.frame-node {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  width: auto;
  align-self: unset;
  height: auto;
  font-size: var(--font-size-xs);
  color: var(--success-500);
  font-family: var(--body-small-400);
}
.frame-node:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.heading1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  width: auto;
  height: auto;
}
.heading1:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: column;
  gap: var(--gap-7xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.employers-logo-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  gap: var(--gap-0);
}
.employers-logo-icon:hover {
  display: flex;
  width: 24px;
  height: 24px;
  gap: var(--gap-0);
}
.employers-logo {
  border-radius: var(--br-9xs);
  background-color: var(--gray-scale-50);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-3xs);
}
.employers-logo:hover {
  background-color: var(--gray-scale-50);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--br-9xs);
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.google-inc {
  align-self: stretch;
  height: 24px;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  width: auto;
}
.google-inc:hover {
  font-weight: 500;
  font-family: var(--font-outfit);
  font-size: var(--body-medium-400-size);
  line-height: 24px;
  text-align: left;
  color: var(--main);
  display: flex;
  align-self: stretch;
  width: auto;
}
.mappin-icon1 {
  height: 18px;
  width: 18px;
  position: relative;
  display: flex;
  gap: var(--gap-0);
}
.mappin-icon1:hover {
  display: flex;
  width: 18px;
  height: 18px;
  gap: var(--gap-0);
}
.dhaka-bangladesh1 {
  height: 20px;
  flex: 1;
  position: relative;
  line-height: 20px;
  display: flex;
}
.dhaka-bangladesh1:hover {
  font-family: var(--font-outfit);
  font-size: var(--body-small-400-size);
  line-height: 20px;
  text-align: left;
  color: var(--gray-500);
  display: flex;
  flex: 1;
}
.loaction1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  width: auto;
  height: auto;
  font-size: var(--body-small-400-size);
  color: var(--gray-500);
}
.loaction1:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-9xs);
  align-items: center;
  justify-content: flex-start;
}
.info1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  min-width: 188;
  height: auto;
}
.info1:hover {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-9xs);
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 188;
}
.bookmarksimple-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  display: flex;
  gap: var(--gap-0);
}
.bookmarksimple-icon1:hover {
  display: flex;
  width: 24px;
  height: 24px;
  gap: var(--gap-0);
}
.company1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  width: auto;
  height: auto;
  font-size: var(--body-medium-400-size);
}
.company1:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-xs);
  align-items: center;
  justify-content: center;
}
.job1 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--gray-white);
  box-shadow: 0px 2px 18px rgba(24, 25, 28, 0.03);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-6xl) var(--padding-5xl)
    var(--padding-4xl);
  gap: var(--gap-xl);
  min-width: 282;
  max-width: 100%;
  height: auto;
  z-index: 1;
}
.job1:hover {
  background-color: var(--gray-white);
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-xl);
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--br-5xs);
  padding: var(--padding-5xl) var(--padding-6xl) var(--padding-5xl)
    var(--padding-4xl);
  box-sizing: border-box;
  border: 1px solid var(--gray-100);
  box-shadow: 0px 2px 18px rgba(24, 25, 28, 0.03);
  min-width: 282;
  max-width: 100%;
}
.app-developer {
  align-self: stretch;
  height: 28px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: flex;
  width: auto;
}
.app-developer:hover {
  font-weight: 500;
  font-family: var(--font-outfit);
  font-size: var(--body-xl-500-size);
  line-height: 28px;
  text-align: left;
  color: var(--gray-900);
  display: flex;
  align-self: stretch;
  width: auto;
}
.airbnb-1-icon {
  height: 48px;
  width: 48px;
  position: relative;
  object-fit: cover;
  display: flex;
}
.airbnb-1-icon:hover {
  display: flex;
  width: 48px;
  height: 48px;
}
.airbnb-inc-usa {
  align-self: stretch;
  height: 28px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: flex;
  width: auto;
}
.airbnb-inc-usa:hover {
  font-weight: 500;
  font-family: var(--font-outfit);
  font-size: var(--body-large-500-size);
  line-height: 28px;
  text-align: left;
  color: var(--main);
  display: flex;
  align-self: stretch;
  width: auto;
}
.company2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  width: auto;
  height: auto;
  font-size: var(--body-large-500-size);
  color: var(--main);
}
.company2:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-xs);
  align-items: center;
  justify-content: center;
}
.job2 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--gray-white);
  box-shadow: 0px 2px 18px rgba(24, 25, 28, 0.03);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-6xl) var(--padding-5xl)
    var(--padding-4xl);
  gap: var(--gap-xl);
  min-width: 282;
  max-width: 100%;
  height: auto;
  z-index: 1;
  color: var(--gray-900);
}
.job2:hover {
  background-color: var(--gray-white);
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-xl);
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--br-5xs);
  padding: var(--padding-5xl) var(--padding-6xl) var(--padding-5xl)
    var(--padding-4xl);
  box-sizing: border-box;
  border: 1px solid var(--gray-100);
  box-shadow: 0px 2px 18px rgba(24, 25, 28, 0.03);
  min-width: 282;
  max-width: 100%;
}
.job-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
  max-width: 100%;
  width: auto;
  height: auto;
  transform: rotate(0deg);
}
.job-parent:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-base);
  align-items: flex-start;
  justify-content: center;
  transform: rotate(0deg);
  max-width: 100%;
}
.full-time {
  height: 12px;
  width: 64px;
  position: relative;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
}
.full-time:hover {
  font-weight: 600;
  font-family: var(--body-small-400);
  font-size: var(--font-size-xs);
  line-height: 12px;
  text-align: left;
  color: var(--success-500);
  display: flex;
}
.employers-logo1 {
  height: 48px;
  width: 48px;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
  box-sizing: border-box;
  background-image: url("/public/employers-logo1@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: var(--gray-scale-50);
  gap: var(--gap-3xs);
}
.employers-logo1:hover {
  background-color: var(--gray-scale-50);
  display: flex;
  width: 48px;
  height: 48px;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--br-9xs);
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.logo-1-icon {
  height: 48px;
  width: 48px;
  position: relative;
  object-fit: cover;
  min-height: 48;
  display: flex;
}
.logo-1-icon:hover {
  display: flex;
  width: 48px;
  height: 48px;
  min-height: 48;
}
.info4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  min-width: 187;
  height: auto;
}
.info4:hover {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-9xs);
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 187;
}
.quote-marker {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  width: auto;
  height: auto;
  transform: rotate(0deg);
}
.quote-marker:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl);
  align-items: flex-start;
  justify-content: center;
  transform: rotate(0deg);
  max-width: 100%;
}
.more-jobs {
  height: 25px;
  width: 97.44px;
  position: relative;
  font-size: var(--body-xl-500-size);
  font-weight: 600;
  font-family: var(--font-outfit);
  color: var(--color-gainsboro-100);
  text-align: left;
  display: flex;
  align-items: center;
}
.more-jobs:hover {
  font-weight: 600;
  font-family: var(--font-outfit);
  font-size: var(--body-xl-500-size);
  text-align: left;
  color: var(--color-gainsboro-100);
  display: flex;
  height: 25px;
}
.employers-quick-link {
  cursor: pointer;
  border: none;
  padding: var(--padding-xs) var(--padding-25xl) var(--padding-smi)
    var(--padding-30xl);
  background-color: transparent;
  border-radius: var(--br-10xs);
  background: linear-gradient(180deg, #2a2b3c, #696c96);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-3xs);
  z-index: 1;
}
.employers-quick-link:hover {
  background: linear-gradient(180deg, #2a2b3c, #696c96);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: center;
  justify-content: center;
  border-radius: var(--br-10xs);
  padding: var(--padding-xs) var(--padding-25xl) var(--padding-smi)
    var(--padding-30xl);
  box-sizing: border-box;
  white-space: nowrap;
}
.text-block {
  width: 886px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-27xl);
  max-width: 100%;
  height: auto;
  transform: rotate(0deg);
  text-align: left;
  font-size: var(--body-xl-500-size);
  color: var(--main);
}
.text-block:hover {
  display: flex;
  width: 886px;
  height: auto;
  flex-direction: column;
  gap: var(--gap-27xl);
  align-items: center;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: 100%;
}
.featured-jobs {
  align-self: stretch;
  background: linear-gradient(180deg, #a5a7c0, #f0f0f5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-29xl) var(--padding-29xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-56xl);
  max-width: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-100);
  font-family: var(--font-outfit);
}
.featured-jobs:hover {
  background: linear-gradient(180deg, #a5a7c0, #f0f0f5);
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: column;
  gap: var(--gap-56xl);
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-29xl) var(--padding-29xl) var(--padding-45xl);
  box-sizing: border-box;
  max-width: 100%;
}

@media screen and (max-width: 1125px) {
  .featured-jobs {
    gap: var(--gap-18xl);
    padding: var(--padding-12xl) var(--padding-5xl) var(--padding-23xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .featured-jobs1 {
    font-size: var(--font-size-13xl);
  }

  .featured-jobs {
    gap: var(--gap-lgi);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .featured-jobs1 {
    font-size: var(--font-size-5xl);
  }

  .technical-support-specialist {
    font-size: var(--body-medium-400-size);
    line-height: 22px;
  }

  .company1 {
    flex-wrap: wrap;
  }

  .app-developer {
    font-size: var(--body-medium-400-size);
    line-height: 22px;
  }

  .company2 {
    flex-wrap: wrap;
  }

  .text-block {
    gap: var(--gap-4xl);
  }
}
