@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-outfit: Outfit;
  --body-small-400: Inter;
  --font-roboto: Roboto;
  --text-xs-medium: Poppins;
  --font-jost: Jost;

  /* font sizes */
  --body-small-400-size: 14px;
  --body-medium-400-size: 16px;
  --text-xs-medium-size: 12px;
  --text-xl-medium-size: 20px;
  --font-size-9xl: 28px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --body-large-500-size: 18px;
  --display-xs-semibold-size: 24px;
  --font-size-21xl: 40px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-3xl: 22px;
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --font-size-smi: 13px;
  --font-size-49xl: 68px;
  --font-size-35xl: 54px;
  --font-size-22xl: 41px;

  /* Colors */
  --color-ghostwhite-100: #f7fbff;
  --color-ghostwhite-200: #f0f0f5;
  --gray-scale-50: #edeff5;
  --color-gray-100: #2a2b3c;
  --gray-900: #18191c;
  --font: #15161e;
  --primary-text: #0c1421;
  --color-gray-200: rgba(0, 0, 0, 0.6);
  --character-primary-85: rgba(0, 0, 0, 0.85);
  --color-gray-300: rgba(255, 255, 255, 0.9);
  --color-gray-400: rgba(255, 255, 255, 0.4);
  --color-slategray-100: #787ba1;
  --color-slategray-200: #787ba0;
  --gray-500: #767f8c;
  --secondary-text-color: #667085;
  --color-slategray-300: #5c5e75;
  --color-slategray-400: #545778;
  --color-lightsteelblue-100: #c3c4d5;
  --color-lightsteelblue-200: #babfde;
  --color-lightsteelblue-300: #a5a7c0;
  --color-lightsteelblue-400: rgba(195, 196, 213, 0.7);
  --color-lightslategray-100: #959cb6;
  --gray-400: #9199a3;
  --color-lightslategray-200: #8897ad;
  --color-lightslategray-300: #8f91a3;
  --color-lightslategray-400: #878aab;
  --color-lightslategray-500: rgba(143, 145, 163, 0.7);
  --gray-700: #474c54;
  --color-darkslategray-100: #3f415a;
  --color-darkslategray-200: #294957;
  --secondary-text: #313957;
  --main: #36384e;
  --color-darkslategray-300: #333;
  --color-darkslategray-400: rgba(51, 51, 51, 0.09);
  --color-darkslategray-500: rgba(54, 56, 78, 0.6);
  --danger-500: #e05151;
  --success-50: #e7f6ea;
  --success-500: #0ba02c;
  --color-whitesmoke-100: #f3f9fa;
  --gray-50: #f1f2f4;
  --color-whitesmoke-200: #f0f0f0;
  --color-whitesmoke-300: #ededed;
  --color-whitesmoke-400: rgba(241, 242, 244, 0);
  --gray-00: #fff;
  --color-gainsboro-100: #e6e6e6;
  --gray-100: #e4e5e8;
  --color-gainsboro-200: #e1e2ea;
  --color-gainsboro-300: #cfdfe2;
  --color-gainsboro-400: rgba(225, 226, 234, 0.6);
  --color-oldlace: #fff6e6;
  --color-lavender-100: #f3e1f9;
  --color-lavender-200: #d4d9f7;
  --gray-600: #5e6670;
  --blue-50: #eff6ff;
  --primary-50: #e7f0fa;
  --color-lightgray-100: #d4d7e3;
  --color-lightgray-200: #d2d3e0;
  --danger-50: #ffeded;
  --color-silver: #b8bac7;
  --link: #1e4ae9;
  --color-black: #000;
  --color-springgreen: #01d362;
  --color-darkslateblue: #424670;
  --color-steelblue: #696b96;

  /* Gaps */
  --gap-12xl: 31px;
  --gap-mini: 15px;
  --gap-xl: 20px;
  --gap-8xl: 27px;
  --gap-23xl: 42px;
  --gap-2xl: 21px;
  --gap-5xl: 24px;
  --gap-xs: 12px;
  --gap-9xs: 4px;
  --gap-2xs: 11px;
  --gap-27xl: 46px;
  --gap-4xl: 23px;
  --gap-16xl: 35px;
  --gap-76xl: 95px;
  --gap-28xl: 47px;
  --gap-5xs: 8px;
  --gap-mid: 17px;
  --gap-smi: 13px;
  --gap-13xl: 32px;
  --gap-470xl: 489px;
  --gap-225xl: 244px;
  --gap-103xl: 122px;
  --gap-42xl: 61px;
  --gap-3xl: 22px;
  --gap-6xl: 25px;
  --gap-60xl: 79px;
  --gap-20xl: 39px;
  --gap-372xl: 391px;
  --gap-79xl: 98px;
  --gap-30xl: 49px;
  --gap-base: 16px;
  --gap-61xl: 80px;
  --gap-21xl: 40px;
  --gap-7xs: 6px;
  --gap-31xl: 50px;
  --gap-11xs: 2px;
  --gap-118xl: 137px;
  --gap-49xl: 68px;
  --gap-29xl: 48px;
  --gap-15xl: 34px;
  --gap-9xl: 28px;
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-6xs: 7px;
  --gap-8xs: 5px;
  --gap-3xs: 10px;
  --gap-693xl: 712px;
  --gap-70xl: 89px;
  --gap-159xl: 178px;
  --gap-337xl: 356px;
  --gap-10xs: 3px;
  --gap-56xl: 75px;
  --gap-lgi: 19px;
  --gap-18xl: 37px;
  --gap-87xl: 106px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-44xl: 63px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-281xl: 300px;
  --padding-56xl: 75px;
  --padding-131xl: 150px;
  --padding-xl: 20px;
  --padding-9xs: 4px;
  --padding-lgi: 19px;
  --padding-3xl: 22px;
  --padding-10xs: 3px;
  --padding-2xs: 11px;
  --padding-lg: 18px;
  --padding-8xs: 5px;
  --padding-base: 16px;
  --padding-mini: 15px;
  --padding-2xl: 21px;
  --padding-30xl: 49px;
  --padding-25xl: 44px;
  --padding-7xs: 6px;
  --padding-48xl: 67px;
  --padding-14xl: 33px;
  --padding-4xl: 23px;
  --padding-sm: 14px;
  --padding-6xl: 25px;
  --padding-xs: 12px;
  --padding-12xl: 31px;
  --padding-smi: 13px;
  --padding-17xl: 36px;
  --padding-6xs: 7px;
  --padding-3xs: 10px;
  --padding-12xs: 1px;
  --padding-9xl: 28px;
  --padding-mid: 17px;
  --padding-15xl: 34px;
  --padding-4xs: 9px;
  --padding-81xl: 100px;
  --padding-46xl: 65px;
  --padding-5xs: 8px;
  --padding-13xl: 32px;
  --padding-11xs: 2px;
  --padding-23xl: 42px;
  --padding-170xl: 189px;
  --padding-18xl: 37px;
  --padding-27xl: 46px;
  --padding-61xl: 80px;
  --padding-104xl: 123px;
  --padding-22xl: 41px;
  --padding-16xl: 35px;
  --padding-28xl: 47px;
  --padding-31xl: 50px;
  --padding-19xl: 38px;
  --padding-8xl: 27px;
  --padding-24xl: 43px;
  --padding-44xl: 63px;
  --padding-29xl: 48px;
  --padding-45xl: 64px;
  --padding-300xl: 319px;
  --padding-304xl: 323px;
  --padding-60xl: 79px;
  --padding-142xl: 161px;
  --padding-140xl: 159px;
  --padding-7xl: 26px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-10xs: 3px;
  --br-3xs: 10px;
  --br-12xs: 1px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-65xl: 84px;
  --br-31xl: 50px;
  --br-xs: 12px;
  --br-37xl: 56px;
  --br-xl: 20px;
  --br-base: 16px;
  --br-mini: 15px;
  --br-61xl: 80px;

  /* Effects */
  --search-shadow: 0px 12px 40px rgba(0, 44, 109, 0.04);
}
