.background-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.jobhub {
  height: 61px;
  width: 152px;
  position: relative;
  display: none;
  align-items: center;
  white-space: nowrap;
}
.already-registered {
  height: 30px;
  width: 221px;
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  display: none;
  white-space: nowrap;
}
.navbar-child {
  height: 49px;
  width: 1280px;
  position: relative;
  background-color: var(--color-lightsteelblue-100);
  display: none;
  max-width: 100%;
}
.jobhub1 {
  margin: 0;
  height: 43.5px;
  width: 135.1px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 1;
}
.already-registered1 {
  height: 21.4px;
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 1;
}
.login-here {
  height: 25px;
  width: 103.44px;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-outfit);
  color: var(--color-gainsboro-100);
  text-align: left;
  display: inline-block;
}
.login-frame {
  cursor: pointer;
  border: none;
  padding: var(--padding-7xs) var(--padding-5xs) var(--padding-9xs)
    var(--padding-xs);
  background-color: var(--color-darkslategray-300);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.login-frame:hover {
  background-color: var(--color-slategray);
}
.registration-form-frame {
  width: 331px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.navbar {
  align-self: stretch;
  background-color: var(--color-lightsteelblue-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-9xs) var(--padding-4xs) 2px var(--padding-26xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-darkslategray-300);
  font-family: var(--font-outfit);
}
.employer {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0px 60px;
  box-sizing: border-box;
  gap: var(--gap-9xl);
  letter-spacing: normal;
}

@media screen and (max-width: 450px) {
  .registration-form-frame {
    display: none;
  }

  .navbar {
    padding-left: var(--padding-3xl);
    box-sizing: border-box;
  }
}
