.all-rights-reserved {
  height: 16px;
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 100%;
  display: flex;

  max-width: 100%;
}
.all-rights-reserved:hover {
  font-family: var(--font-roboto);
  font-size: var(--body-medium-400-size);
  letter-spacing: 0.01em;
  line-height: 100%;
  text-align: center;
  color: var(--color-lightslategray-100);
  display: flex;
  flex: 1;
  max-width: 100%;
}

.footer-copyright-frame {
  width: 414px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-13xl) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);

}
.footer-copyright-frame:hover {
  display: flex;
  width: 414px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px var(--padding-13xl) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}

.left-side-8-column {
  flex: 0.9191;
  border-radius: var(--br-8xs);
  background-color: var(--gray-white);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-170xl) var(--padding-xl) var(--padding-18xl)
    var(--padding-27xl);

  box-sizing: border-box;
  gap: var(--gap-118xl);
  min-width: 612;

  max-width: 100%;
  height: auto;

}
.left-side-8-column:hover {
  background-color: var(--gray-white);
  display: flex;
  flex: 0.9191;
  height: auto;
  flex-direction: column;
  gap: var(--gap-118xl);
  align-items: center;
  justify-content: flex-start;

  border-radius: var(--br-8xs);
  padding: var(--padding-170xl) var(--padding-xl) var(--padding-18xl)
    var(--padding-27xl);
  box-sizing: border-box;
  min-width: 612;

  max-width: 100%;
}
.art {
  height: 1076px;
  flex: 1;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url("/public/art@3x.png");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 612;

  max-width: 100%;
  gap: var(--gap-0);

}
.art:hover {
  display: flex;
  flex: 1;
  height: 1076px;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--br-8xs);
  min-width: 612;
  max-width: 100%;
}

.main-container {
  flex: 1;
  background-color: var(--main);

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);

  max-width: 100%;
  height: auto;

  text-align: center;
  font-size: var(--body-medium-400-size);
  color: var(--color-lightslategray-100);

  font-family: var(--font-roboto);
}
.main-container:hover {
  background-color: var(--main);
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: row;
  gap: var(--gap-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  max-width: 100%;
}

.login-page {
  width: 1728px;

  position: relative;
  background-color: var(--gray-white);

  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  letter-spacing: normal;
  height: auto;
  gap: var(--gap-0);

}
.login-page:hover {
  background-color: var(--gray-white);
  display: flex;
  width: 1728px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: center;
  justify-content: center;
  letter-spacing: normal;
}


@media screen and (max-width: 1300px) {

  .left-side-8-column {
    flex: 1;
  }

  .art {
    flex: 1;
  }

  .main-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .left-side-8-column {
    padding-top: 123px;
    padding-bottom: var(--padding-5xl);
    box-sizing: border-box;
  }

  .main-container {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .left-side-8-column {
    gap: 68px;
    padding-left: var(--padding-4xl);
    padding-top: var(--padding-61xl);

    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
    min-width: 100%;
  }

  .art {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .main-container {
    gap: var(--gap-base);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
