.background-icon2 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.navbar-inner {
  height: 47.1px;
  width: 1280px;
  position: relative;
  background-color: var(--color-lightsteelblue-100);
  display: none;
  max-width: 100%;
}
.jobhub3 {
  margin: 0;
  height: 43.5px;
  width: 135.1px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.already-registered3 {
  height: 21.4px;
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.login-here2 {
  height: 25px;
  width: 103.44px;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-outfit);
  color: var(--color-gainsboro-100);
  text-align: left;
  display: inline-block;
}
.login-here-text {
  cursor: pointer;
  border: none;
  padding: var(--padding-7xs) var(--padding-5xs) var(--padding-9xs)
    var(--padding-xs);
  background-color: var(--color-darkslategray-300);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
  margin-left: -8px;
}
.login-here-text:hover {
  background-color: var(--color-slategray);
}
.already-registered-parent {
  width: 311px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
}
.navbar2 {
  align-self: stretch;
  background-color: var(--color-lightsteelblue-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-12xs) var(--padding-3xs) var(--padding-10xs) 92px;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
}
.welcome {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 94px;
  box-sizing: border-box;
  gap: 76px;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-300);
  font-family: var(--font-outfit);
}

@media screen and (max-width: 800px) {
  .navbar2 {
    flex-wrap: wrap;
    padding-left: var(--padding-27xl);
    box-sizing: border-box;
  }

  .welcome {
    gap: 38px;
  }
}
@media screen and (max-width: 450px) {
  .already-registered3 {
    font-size: var(--font-size-base);
  }

  .navbar2 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }

  .welcome {
    gap: 19px;
  }
}
