.background-icon2 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.background-icon2:hover {
  display: flex;
  width: 100%;
  height: 100%;

}
.jobhub2 {

  margin: 0;
  height: 43.5px;
  width: 135.1px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.jobhub2:hover {
  font-weight: 700;
  font-family: var(--font-outfit);
  font-size: var(--font-size-13xl);
  text-align: left;
  color: var(--main);
  display: flex;
  width: 135.1px;
  height: 43.5px;
}
.already-registered2 {

  height: 21.4px;
  flex: 1;
  position: relative;
  font-weight: 600;
  display: flex;

  flex-shrink: 0;
  z-index: 1;
}
.already-registered2:hover {
  font-weight: 600;
  font-family: var(--font-outfit);
  font-size: var(--body-xl-500-size);
  text-align: left;
  color: var(--main);
  display: flex;
  flex: 1;
  flex-shrink: 0;
}

.login-here2 {
  height: 25px;
  width: 103.44px;
  position: relative;
  font-size: var(--body-xl-500-size);

  font-weight: 600;
  font-family: var(--font-outfit);
  color: var(--color-gainsboro-100);
  text-align: left;
  display: flex;

}
.login-here2:hover {
  font-weight: 600;
  font-family: var(--font-outfit);
  font-size: var(--body-xl-500-size);
  text-align: left;
  color: var(--color-gainsboro-100);
  display: flex;
}

.login-here-text {
  cursor: pointer;
  border: none;
  padding: var(--padding-7xs) var(--padding-5xs) var(--padding-9xs)
    var(--padding-xs);
  background-color: var(--color-slategray-100);

  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  white-space: nowrap;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-3xs);

  z-index: 1;
  margin-left: -8px;
}
.login-here-text:hover {
  background-color: var(--main);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: center;
  justify-content: center;
  border-radius: var(--br-3xs);
  padding: var(--padding-7xs) var(--padding-5xs) var(--padding-9xs)
    var(--padding-xs);
  box-sizing: border-box;
  white-space: nowrap;

}
.login-here-text:active {
  background-color: var(--color-slategray-100);
}

.already-registered-parent {
  width: 311px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  gap: var(--gap-21xs);
  transform: rotate(0deg);
  font-size: var(--body-xl-500-size);

}
.already-registered-parent:hover {
  display: flex;
  width: 311px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-21xs);
  align-items: center;
  justify-content: flex-start;
  transform: rotate(0deg);
}

.navbar2 {
  align-self: stretch;
  background-color: var(--color-lightsteelblue-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-12xs) var(--padding-3xs) var(--padding-10xs)
    var(--padding-73xl);

  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  width: auto;
  height: auto;

  z-index: 1;
}
.navbar2:hover {
  background-color: var(--color-lightsteelblue-100);
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-xl);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-12xs) var(--padding-3xs) var(--padding-10xs)
    var(--padding-73xl);
  box-sizing: border-box;
  max-width: 100%;
}

.welcome {
  width: 100%;
  position: relative;
  background-color: var(--gray-white);

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-75xl);

  box-sizing: border-box;
  gap: var(--gap-57xl);

  letter-spacing: normal;
  height: auto;

  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--main);

  font-family: var(--font-outfit);
}
.welcome:hover {
  background-color: var(--gray-white);
  display: flex;
  width: 1280px;
  height: auto;
  flex-direction: column;
  gap: var(--gap-57xl);
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-75xl);
  box-sizing: border-box;
  letter-spacing: normal;
}


@media screen and (max-width: 800px) {
  .navbar2 {
    flex-wrap: wrap;
    padding-left: var(--padding-27xl);
    box-sizing: border-box;
  }

  .welcome {
    gap: 38px;
  }
}
@media screen and (max-width: 450px) {
  .already-registered2 {
    font-size: var(--body-medium-400-size);

  }

  .navbar2 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }

  .welcome {
    gap: var(--gap-lgi);

  }
}
