@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    /* Set text color for better contrast on the background */
}

.bg-color {
    position: absolute;
    z-index: -1;
    width: 1519.2px;
    height: 940px;
    margin: 0px;
    margin-top: 800px;
    margin-bottom: 50px;
}

header {
    background-color: rgba(52,
            152,
            219,
            0.8);
    /* Use rgba for a transparent background color */
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 90px;
    position: relative;
}

.logo-text {
    text-decoration: none;
    margin-left: 130px;
    font-size: 1.3em;
    color: hsl(235, 18%, 80%);
    font-family: "Open Sans", sans-serif;
    align-items: flex-start;
    position: absolute;
}

header {
    background-color: hsl(235, 18%, 26%);
    max-height: 25px;
}

.navbar {
    width: 60%;
    align-items: flex-end;
    font-family: "Open Sans", sans-serif;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin-left: 200px;
    /* Move the navigation to the right */
    align-items: flex-end;
    font-family: "Open Sans", sans-serif;
}

.navbar ul li {
    margin: 40px;
    /* Adjust spacing between buttons */
    font-family: "Open Sans", sans-serif;
}

.navbar Link {
    text-decoration: none;
    color: hsl(235, 18%, 85%);
    font-weight: 500;
    font-size: 16px;
}

.navbar a {
    text-decoration: none;
    color: hsl(235, 18%, 85%);
    font-weight: 500;
    font-size: 16px;
}

.get-started {
    margin-right: 75px;
}

.get-started-btn {
    background-color: hsl(235, 18%, 70%);
    color: hsl(235, 18%, 26%);
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 490;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}



.hero {
    text-align: center;
    margin-bottom: 40px;
    margin-left: 100px;
    max-width: 100%;
}

.hero h1 {
    font-size: 4em;
    text-align: left;
    word-spacing: 5px;
    line-height: 125%;
    margin-bottom: 30px;
    font-weight: bolder;
    color: hsl(235, 18%, 26%);
    font-family: "Roboto", sans-serif;
}

.hero p {
    font-size: 20px;
    color: hsl(236, 7%, 57%);
    text-align: left;
    font-family: "Roboto", sans-serif;
}

.emphasized-text {
    color: hsl(235, 18%, 60%);
}

.bg-jobs {
    height: 550px;
    position: relative;
    float: right;
    margin-right: 0px;
}

.icon-user {
    position: absolute;
    color: hsl(235, 18%, 26%);
    margin-top: 0px;
    margin-left: 250px;
    font-size: 0.6em;
}

.icon-briefcase {
    position: absolute;
    margin-top: 0px;
    font-size: 0.6em;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-top: 130px;
}

.search-container {
    display: flex;
    position: relative;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    border: 0px solid black;
    border-radius: 1px;
    width: 650px;
    box-shadow: 3px 3px 3px 3px hsl(235, 18%, 85%);
    height: 25px;
}

.search-bar button {
    background-color: hsl(235, 18%, 26%);
    color: hsl(235, 18%, 90%);
    padding: 8px 30px;
    font-size: 1.1em;
    margin: 3.5px;
    font-weight: 400;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    position: absolute;
    right: 0;
    font-family: "Roboto", sans-serif;
}

footer {
    background-color: hsl(235, 18%, 26%);
    color: hsl(235, 18%, 80%);
    padding: 20px 150px;
    font-family: "Roboto", sans-serif;
    align-items: center;
    margin: 0 auto;
}

.jobhub-description {
    display: inline-block;
    padding-left: 50px;
    padding-bottom: 50px;
}

.footer-description {
    font-size: 1=0.8em;
    line-height: 170%;
    padding-bottom: 20px;
}

.facebook {
    padding-right: 50px;
}

.twitter {
    padding-right: 50px;
}

.pinterest {
    padding-right: 50px;
}

.linkedin {
    padding-right: 50px;
}

.menu {
    display: inline-block;
    padding-left: 150px;
}

.support {
    display: inline-block;
    padding-left: 150px;
}

.contact {
    display: inline-block;
    padding-left: 150px;
}

.copyright {
    text-align: center;
    font-size: 0.9em;
    padding-top: 10px;
}

.jobs {
    box-shadow: 2px 4px 2px hsl(235, 18%, 85%);
    width: 80%;
    margin: auto;
    margin-top: 100px;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 5px;
}

.marketing {
    margin: 30px;
    margin-left: 68px;

    display: inline-block;
    width: 275px;
    box-shadow: 3px 3px 3px 3px hsl(235, 18%, 85%);
}

.job-icon {
    height: 50px;
    display: inline-block;
    float: left;
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.jobs h3 {
    margin: 0px;
    margin-top: 15px;
    text-align: left;
    padding-right: 20px;
    margin-left: 20px;
}

.jobs p {
    margin: 6px;
    margin-left: 10px;
    text-align: left;
    padding-right: 20px;
    color: rgb(173, 173, 173);
}

.featured-jobs {
    margin-top: 75px;
}

.featured {
    width: 350px;
    border-radius: 3px;
    padding: 15px 10px;
    box-shadow: 2px 1px 2px 2px hsl(235, 18%, 85%);
    display: inline-block;
    margin-left: 90px;
    margin-bottom: 50px;
    background-color: white;
}

.featured-jobs h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 70px;
    color: hsl(235, 18%, 90%);
}

.featured-icon {
    height: 40px;
    box-shadow: 2px 3px hsl(235, 18%, 85%);
    padding: 5px;
    border-radius: 10px;
    float: left;
    margin-right: 20px;
    margin-left: 5px;
}

.featured h3 {
    margin: 0px;
    width: 200px;
    display: inline-block;
    margin-top: 5px;
}

.featured p {
    margin: 0px;
    margin-top: 5px;

    color: rgb(188, 188, 188);
}

.featured-button {
    padding: 10px 12px;
    box-shadow: 2px 3px hsl(235, 18%, 85%);
    border: 0px;
    border-radius: 3px;
    background-color: hsl(235, 18%, 98%);
    margin: 5px;
    font-weight: 600;
    position: absolute;
    margin-top: 30px;
}

.featured h4 {
    margin-bottom: auto;
    margin-top: 40px;
    text-align: right;
    padding-right: 10px;
    font-size: 17px;
}

.more-jobs {
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 600;
    background-color: hsl(235, 18%, 80%);
    color: hsl(235, 18%, 26%);
    border: 0px;
    border-radius: 3px;
    text-align: center;
    position: relative;
    margin-left: 680px;
    box-shadow: 2px 1px hsl(235, 18%, 85%);
}

.learn-more {
    margin-top: 120px;
}

.learn-more h1 {
    font-size: 50px;
    margin-left: 600px;
    margin-top: 0px;
    color: hsl(235, 18%, 26%);
    margin-bottom: 35px;
}

.about {
    margin-bottom: 20px;
    margin-left: 100px;
    padding: 10px 25px;
    font-size: 17px;
    font-weight: 600;
    background-color: hsl(235, 18%, 80%);
    color: hsl(235, 18%, 26%);
    border: 0px;
    border-radius: 3px;
    text-align: center;
}

.learn-more p {
    margin-left: 600px;
    font-size: 20px;
    color: hsl(235, 18%, 55%);
}

.learn-more i {
    margin-right: 10px;
}

.learn {
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 100px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 600;
    background-color: hsl(235, 18%, 30%);
    color: hsl(235, 18%, 80%);
    border: 0px;
    border-radius: 6px;
    text-align: center;
}

.bg-learn {
    height: 500px;
    float: left;
}