@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body-small-400: Inter;
  --font-outfit: Outfit;

  --font-roboto: Roboto;
  --font-outfit: Outfit;

  /* font sizes */
  --body-small-400-size: 14px;
  --body-medium-400-size: 16px;
  --body-xl-500-size: 20px;
  --body-large-500-size: 18px;

  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-mid-5: 17.5px;
  --font-size-27xl: 46px;
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --font-size-10xl: 29px;
  --font-size-xs: 12px;
  --font-size-21xl: 40px;

  --font-size-13xl: 32px;
  --font-size-smi: 13px;
  --font-size-49xl: 68px;
  --font-size-35xl: 54px;
  --font-size-22xl: 41px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;


  /* Colors */
  --color-whitesmoke-100: #f3f9fa;
  --color-whitesmoke-200: #f0f0f0;
  --color-gray-100: #2a2b3c;
  --gray-900: #18191c;
  --font: #15161e;
  --primary-text: #0c1421;
  --color-gray-200: rgba(0, 0, 0, 0.6);
  --gray-500: #767f8c;
  --color-slategray-100: #5c5e75;
  --color-slategray-200: #545778;
  --color-lightslategray-100: #959cb6;
  --gray-400: #9199a3;
  --color-lightslategray-200: #8897ad;
  --color-lightslategray-300: #8f91a3;
  --color-lightslategray-400: #878aab;
  --gray-white: #fff;
  --gray-600: #5e6670;

  --color-darkslategray-100: #3f415a;
  --color-darkslategray-200: #294957;
  --secondary-text: #313957;
  --main: #36384e;
  --color-darkslategray-300: rgba(54, 56, 78, 0.6);
  --color-lightgray-100: #d4d7e3;
  --color-lightgray-200: #d2d3e0;
  --color-lightsteelblue-100: #c3c4d5;
  --color-lightsteelblue-200: #a5a7c0;
  --color-ghostwhite-100: #f7fbff;
  --color-ghostwhite-200: #f0f0f5;
  --gray-scale-50: #edeff5;
  --gray-100: #e4e5e8;

  --color-gainsboro-100: #e1e2ea;
  --color-gainsboro-200: #cfdfe2;
  --color-gainsboro-300: rgba(225, 226, 234, 0.6);
  --success-50: #e7f6ea;
  --success-500: #0ba02c;
  --color-steelblue: #696b96;
  --color-darkslateblue: #424670;
  --link: #1e4ae9;

  --color-black: #000;
  --color-lightsteelblue-100: #c3c4d5;
  --color-lightsteelblue-200: #a5a7c0;

  /* Gaps */
  --gap-0: 0px;
  --gap-61xl: 80px;
  --gap-xl: 20px;
  --gap-21xl: 40px;

  --gap-base: 16px;
  --gap-9xs: 4px;
  --gap-7xs: 6px;
  --gap-5xl: 24px;
  --gap-xs: 12px;
  --gap-5xs: 8px;
  --gap-3xs: 10px;
  --gap-80xl: 99px;
  --gap-30xl: 49px;
  --gap-6xl: 25px;
  --gap-42xl: 61px;
  --gap-2xs: 11px;
  --gap-9xl: 28px;
  --gap-mini: 15px;
  --gap-31xl: 50px;
  --gap-56xl: 75px;
  --gap-lgi: 19px;
  --gap-18xl: 37px;
  --gap-27xl: 46px;
  --gap-4xl: 23px;
  --gap-69xl: 88px;
  --gap-87xl: 106px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-11xs: 2px;
  --gap-44xl: 63px;
  --gap-12xl: 31px;
  --gap-13xl: 32px;
  --gap-118xl: 137px;

  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-15xl: 34px;
  --gap-mid: 17px;
  --gap-57xl: 76px;

  --gap-10xs: 3px;
  --gap-21xs: -8px;


  /* Paddings */
  --padding-10xs: 3px;
  --padding-12xs: 1px;
  --padding-81xl: 100px;
  --padding-46xl: 65px;
  --padding-5xl: 24px;
  --padding-281xl: 300px;
  --padding-56xl: 75px;
  --padding-131xl: 150px;

  --padding-xl: 20px;
  --padding-7xs: 6px;
  --padding-5xs: 8px;
  --padding-4xl: 23px;
  --padding-8xl: 27px;
  --padding-16xl: 35px;
  --padding-21xl: 40px;
  --padding-14xl: 33px;
  --padding-29xl: 48px;
  --padding-45xl: 64px;
  --padding-12xl: 31px;
  --padding-23xl: 42px;

  --padding-xs: 12px;
  --padding-25xl: 44px;
  --padding-smi: 13px;
  --padding-30xl: 49px;
  --padding-6xl: 25px;
  --padding-9xs: 4px;
  --padding-6xs: 7px;
  --padding-31xl: 50px;
  --padding-425xl: 444px;
  --padding-418xl: 437px;
  --padding-24xl: 43px;
  --padding-3xs: 10px;
  --padding-2xs: 11px;
  --padding-lgi: 19px;
  --padding-17xl: 36px;
  --padding-9xl: 28px;
  --padding-sm: 14px;

  --padding-base: 16px;
  --padding-12xs: 1px;
  --padding-31xl: 50px;
  --padding-3xl: 22px;
  --padding-4xs: 9px;
  --padding-11xs: 2px;
  --padding-13xl: 32px;
  --padding-lg: 18px;
  --padding-300xl: 319px;
  --padding-304xl: 323px;
  --padding-61xl: 80px;
  --padding-60xl: 79px;
  --padding-142xl: 161px;
  --padding-140xl: 159px;
  --padding-7xl: 26px;
  --padding-mid: 17px;
  --padding-15xl: 34px;
  --padding-2xl: 21px;
  --padding-170xl: 189px;
  --padding-18xl: 37px;
  --padding-27xl: 46px;
  --padding-41xl: 60px;

  --padding-19xl: 38px;
  --padding-6xl: 25px;
  --padding-3xs: 10px;
  --padding-7xs: 6px;
  --padding-6xs: 7px;
  --padding-8xs: 5px;
  --padding-4xs: 9px;
  --padding-9xs: 4px;
  --padding-26xl: 45px;
  --padding-75xl: 94px;

  --padding-44xl: 63px;
  --padding-22xl: 41px;
  --padding-73xl: 92px;


  /* Border radiuses */
  --br-8xs: 5px;
  --br-xs: 12px;
  --br-61xl: 80px;
  --br-10xs: 3px;
  --br-5xs: 8px;
  --br-9xs: 4px;

  --br-mini: 15px;
  --br-3xs: 10px;

  /* Effects */
  --search-shadow: 0px 12px 40px rgba(0, 44, 109, 0.04);

}
