.pages {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
  min-height: 946px;
  max-width: 100%;
}
.fiarrow-right-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  transform: rotate(-180deg);
}
.icon-button {
  border-radius: var(--br-65xl);
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
  box-sizing: border-box;
  transform: rotate(180deg);
}
.div {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.pagination1 {
  flex: 1;
  border-radius: var(--br-31xl);
  background-color: var(--primary-500);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm);
  color: var(--gray-scale-white);
}
.pagination2 {
  flex: 1;
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm);
}
.pagination3 {
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-sm)
    var(--padding-mini);
}
.pagination4 {
  border-radius: var(--br-31xl);
  background-color: var(--gray-50);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-sm)
    var(--padding-mini);
  color: var(--gray-900);
}
.pages1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 156px;
}
.fiarrow-right-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-button1 {
  border-radius: var(--br-65xl);
  background-color: var(--primary-50);
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.pagination {
  width: 352px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.vector-shape {
  width: 1363px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  gap: 49px;
  min-height: 1264px;
  max-width: 100%;
  text-align: center;
  font-size: var(--body-small-400-size);
  color: var(--gray-600);
  font-family: var(--body-small-400);
}
.job-list {
  position: relative;
  background-color: var(--gray-scale-white);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: normal;
}

@media screen and (max-width: 800px) {
  .vector-shape {
    gap: var(--gap-5xl);
  }
}
