.home {
  position: relative;
  line-height: 20px;
}
.nav-link {
  background-color: var(--gray-50);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) 0px;
}
.nav-link1 {
  border: none;
  outline: none;
  background-color: var(--gray-50);
  box-shadow: 0px -2px 0px #0a65cc inset;
  width: 61px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) 0px;
  box-sizing: border-box;
  font-family: var(--body-small-400);
  font-weight: 500;
  font-size: var(--body-small-400-size);
  color: var(--primary-500);
}
.nav-link2 {
  border: none;
  outline: none;
  background-color: var(--gray-50);
  width: 105px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) 0px;
  box-sizing: border-box;
  font-family: var(--body-small-400);
  font-size: var(--body-small-400-size);
  color: var(--gray-600);
}
.nav-link4 {
  border: none;
  outline: none;
  background-color: var(--gray-50);
  width: 71px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) 0px;
  box-sizing: border-box;
  font-family: var(--body-small-400);
  font-size: var(--body-small-400-size);
  color: var(--gray-600);
}
.nav-link5 {
  border: none;
  outline: none;
  background-color: var(--gray-50);
  flex: 1;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) 0px;
  box-sizing: border-box;
  font-family: var(--body-small-400);
  font-size: var(--body-small-400-size);
  color: var(--gray-600);
  min-width: 79px;
}
.main-content {
  width: 593px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs) 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-3xl);
  max-width: 100%;
}
.phonecall-icon {
  position: relative;
  width: 24px;
  height: 24px;
}
.body-copy {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  white-space: nowrap;
}
.subheadline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.image-1-icon {
  position: relative;
  width: 24px;
  height: 16px;
  object-fit: cover;
}
.map-pin-formselect {
  font-family: var(--body-small-400);
  font-size: var(--body-small-400-size);
  color: var(--gray-600);
}
.page-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  color: var(--gray-900);
}
.navigation1 {
  align-self: stretch;
  background-color: var(--gray-50);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-428xl);
  max-width: 100%;
}
.briefcase-1-icon {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 40px;
}
.jobpilot {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 600;
  font-family: inherit;
  white-space: nowrap;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.india {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.caretdown-icon {
  position: relative;
  width: 16px;
  height: 16px;
}
.job-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.pagination-bar {
  position: relative;
  border-right: 1px solid var(--gray-100);
  box-sizing: border-box;
  width: 1px;
  height: 33px;
}
.fisearch-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.job-tittle-keyword {
  position: relative;
  line-height: 24px;
  white-space: nowrap;
}
.footer-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--body-medium-400-size);
  color: var(--gray-400);
}
.employer-info {
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.search {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-5xl);
  max-width: 100%;
  font-size: var(--body-small-400-size);
}
.phone-number-section {
  width: 843px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.social-media-icons {
  position: relative;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.navigation2 {
  align-self: stretch;
  background-color: var(--gray-scale-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-362xl);
  max-width: 100%;
  font-size: var(--font-size-5xl);
  color: var(--gray-900);
}
.navigation {
  align-self: stretch;
  box-shadow: 0px -1px 0px #e4e5e8 inset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--body-small-400-size);
  color: var(--gray-600);
  font-family: var(--body-small-400);
}

@media screen and (max-width: 1300px) {
  .navigation1 {
    gap: var(--gap-204xl);
  }

  .job-tittle-keyword {
    display: none;
  }

  .navigation2 {
    gap: var(--gap-171xl);
  }
}
@media screen and (max-width: 800px) {
  .navigation1 {
    gap: var(--gap-93xl);
  }

  .navigation2 {
    gap: var(--gap-76xl);
  }
}
@media screen and (max-width: 450px) {
  .navigation1 {
    gap: var(--gap-37xl);
  }

  .phone-number-section {
    gap: var(--gap-base);
  }

  .navigation2 {
    gap: var(--gap-29xl);
  }
}
