.hero-item {
  width: 710px;
  height: 1210px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-lightgray-200);
  display: none;
  max-width: 100%;
}
.email-id {
  width: auto;
}
.time-to-grow1 {
  height: 30px;
  width: 283px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.im-experienced-frame {
  width: 508px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.password-min-6-container1 {
  width: 319px;
  height: 25px;
  position: relative;
  white-space: pre-wrap;
  display: inline-block;
  z-index: 1;
}
.create-a-password1 {
  border: none;
  outline: none;
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 20px;
  flex: 1;
  position: relative;
  color: var(--color-gray-200);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 250px;
  max-width: 100%;
}
.create-a-password-for-your-acc-container {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  max-width: 100%;
  z-index: 1;
}
.password-min-6-characters-re-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.last-name-input2 {
  width: 510px;
  height: 79px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-8xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.current-city {
  width: 110px;
  height: 25px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.mention-the-current1 {
  height: 20px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.mention-the-current-city-you-l-container {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.last-name-input3 {
  width: 510px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-8xs) 0px 0px;
  box-sizing: border-box;
  min-height: 79px;
  max-width: 100%;
}
.current-country {
  font-weight: 500;
}
.if-residing-outside {
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
}
.current-country-if-container1 {
  width: 100%;
}
.current-country-if-container {
  width: 352px;
  height: 25px;
  position: relative;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.mention-the-country-where-you-frame {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  max-width: 100%;
  z-index: 1;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.work-status {
  width: 239px;
  height: 25px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  z-index: 1;
}
.im-experienced {
  margin: 0;
  font-weight: 500;
  color: var(--font);
}
.i-have-work {
  margin: 0;
}
.im-experienced-i-container {
  height: 75px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}
.im-experienced-text {
  flex: 1;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  min-width: 159px;
  white-space: nowrap;
  z-index: 1;
}
.im-a-fresher {
  margin: 0;
  font-weight: 500;
}
.i-am-a {
  margin: 0;
  color: var(--color-darkslategray-400);
}
.im-experienced-text1 {
  flex: 1;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  min-width: 159px;
  white-space: nowrap;
  z-index: 1;
  color: var(--font);
}
.im-experienced-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  color: var(--color-darkslategray-400);
}
.resume-text {
  width: 508px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.resume {
  width: 70px;
  height: 25px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.upload-resume1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.upload-resume-wrapper {
  width: 188px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-5xl) var(--padding-8xs)
    var(--padding-6xl);
  box-sizing: border-box;
  white-space: nowrap;
}
.doc-docx-pdf1 {
  height: 20px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
  display: flex;
  align-items: center;
  min-width: 192px;
}
.upload-resume-button {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-6xs) var(--padding-7xs)
    var(--padding-8xs);
  gap: var(--gap-3xs);
  z-index: 1;
  color: var(--color-gainsboro-300);
}
.email-mobile-frame {
  width: 510px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-8xs) 0px 0px;
  box-sizing: border-box;
  min-height: 105px;
  max-width: 100%;
}
.register3 {
  align-self: stretch;
  width: 74px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register2 {
  width: 140px;
  height: 45px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
  color: var(--color-gainsboro-300);
}
.hero1 {
  flex: 1;
  border-radius: var(--br-mini);
  background-color: var(--color-lightgray-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-xl) var(--padding-24xl)
    var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  max-width: 100%;
  flex-shrink: 0;
}
.hero-section1 {
  height: 587.5px;
  width: 710px;
  border-radius: var(--br-mini);
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  z-index: 1;
}
.framehero-section {
  width: 830px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--font);
  font-family: var(--font-outfit);
}

@media screen and (max-width: 1125px) {
  .hero1 {
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-9xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .time-to-grow1 {
    font-size: var(--font-size-lgi);
  }

  .current-city {
    font-size: var(--font-size-base);
  }

  .work-status {
    font-size: var(--font-size-base);
  }

  .resume {
    font-size: var(--font-size-base);
  }

  .register3 {
    font-size: var(--font-size-base);
  }
}
@media screen and (max-width: 450px) {
  .hero1 {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }

  .hero-section1 {
    height: auto;
  }
}
