.time-to-grow1 {
  height: 30px;
  width: 283px;
  position: relative;
  display: flex;
  font-weight: 700;
  z-index: 1;
}
.time-to-grow1:hover {
  font-weight: 700;
  font-family: var(--font-outfit);
  font-size: var(--font-size-5xl);
  text-align: left;
  color: var(--font);
  display: flex;
}
.im-experienced-frame {
  width: 508px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
  font-size: var(--font-size-5xl);
}
.im-experienced-frame:hover {
  display: flex;
  width: 508px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: 100%;
}
.password-min-6-container1 {
  width: 319px;
  height: 25px;
  position: relative;
  white-space: pre-wrap;
  display: flex;
  z-index: 1;
}
.password-min-6-container1:hover {
  text-align: left;
  display: flex;
}
.create-a-password1 {
  border: none;
  outline: none;
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 20px;
  flex: 1;
  position: relative;
  color: var(--color-gray-200);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 250;
  max-width: 100%;
}
.create-a-password1:hover {
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  text-align: left;
  color: var(--color-gray-200);
  display: flex;
  flex: 1;
  height: 20px;
  min-width: 250;
  max-width: 100%;
}
.create-a-password-for-your-acc-container {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  max-width: 100%;
  width: auto;
  height: auto;
  gap: var(--gap-3xs);
  z-index: 1;
}
.create-a-password-for-your-acc-container:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: center;
  justify-content: center;
  border-radius: var(--br-3xs);
  padding: var(--padding-3xs) var(--padding-4xs);
  box-sizing: border-box;
  border: 1px solid var(--color-black);
  max-width: 100%;
}
.password-min-6-characters-re-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
  height: auto;
  transform: rotate(0deg);
}
.password-min-6-characters-re-parent:hover {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: 100%;
}
.last-name-input2 {
  width: 510px;
  height: 79px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-8xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.last-name-input2:hover {
  display: flex;
  width: 510px;
  height: 79px;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px var(--padding-8xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.current-city {
  width: 110px;
  height: 25px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.current-city:hover {
  font-weight: 500;
  font-family: var(--font-outfit);
  font-size: var(--font-size-xl);
  text-align: left;
  color: var(--font);
  display: flex;
  width: 110px;
  height: 25px;
}
.mention-the-current1 {
  height: 20px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.mention-the-current1:hover {
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  text-align: left;
  color: var(--color-gray-200);
  display: flex;
  flex: 1;
  height: 20px;
  max-width: 100%;
}
.mention-the-current-city-you-l-container {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  max-width: 100%;
  width: auto;
  height: auto;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.mention-the-current-city-you-l-container:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: center;
  justify-content: center;
  border-radius: var(--br-3xs);
  padding: var(--padding-3xs) var(--padding-4xs);
  box-sizing: border-box;
  border: 1px solid var(--color-black);
  max-width: 100%;
}
.last-name-input3 {
  width: 510px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-8xs) 0px 0px;
  box-sizing: border-box;
  min-height: 79;
  max-width: 100%;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.last-name-input3:hover {
  display: flex;
  width: 510px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px var(--padding-8xs) 0px 0px;
  box-sizing: border-box;
  min-height: 79;
  max-width: 100%;
}
.current-country {
  font-weight: 500;
}
.if-residing-outside {
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
}
.current-country-if-container1 {
  width: 100%;
}
.current-country-if-container {
  width: 352px;
  height: 25px;
  position: relative;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.current-country-if-container:hover {
  text-align: left;
  display: flex;
  width: 352px;
  height: 25px;
  max-width: 100%;
}
.mention-the-country-where-you-frame {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  max-width: 100%;
  width: auto;
  height: auto;
  gap: var(--gap-3xs);
  z-index: 1;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.mention-the-country-where-you-frame:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: center;
  justify-content: center;
  border-radius: var(--br-3xs);
  padding: var(--padding-3xs) var(--padding-4xs);
  box-sizing: border-box;
  border: 1px solid var(--color-black);
  max-width: 100%;
}
.work-status {
  width: 239px;
  height: 25px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  z-index: 1;
}
.work-status:hover {
  font-weight: 500;
  font-family: var(--font-outfit);
  font-size: var(--font-size-xl);
  text-align: left;
  color: var(--font);
  display: flex;
  width: 239px;
  height: 25px;
}
.im-experienced {
  margin: 0;
  font-weight: 500;
  color: var(--font);
}
.i-have-work {
  margin: 0;
}
.im-experienced-i-container {
  height: 75px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}
.im-experienced-i-container:hover {
  font-size: var(--font-size-xl);
  text-align: left;
  display: flex;
  flex: 1;
  height: 75px;
}
.im-experienced-text {
  flex: 1;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  min-width: 159;
  white-space: nowrap;
  height: auto;
  gap: var(--gap-3xs);
  z-index: 1;
}
.im-experienced-text:hover {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: center;
  justify-content: center;
  border-radius: var(--br-3xs);
  padding: var(--padding-3xs) var(--padding-4xs);
  box-sizing: border-box;
  border: 1px solid var(--color-black);
  min-width: 159;
  white-space: nowrap;
}
.im-a-fresher {
  margin: 0;
  font-weight: 500;
}
.i-am-a {
  margin: 0;
  color: var(--color-darkslategray-300);
}
.im-experienced-text1 {
  flex: 1;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  min-width: 159;
  white-space: nowrap;
  height: auto;
  gap: var(--gap-3xs);
  z-index: 1;
  color: var(--font);
}
.im-experienced-text1:hover {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: center;
  justify-content: center;
  border-radius: var(--br-3xs);
  padding: var(--padding-3xs) var(--padding-4xs);
  box-sizing: border-box;
  border: 1px solid var(--color-black);
  min-width: 159;
  white-space: nowrap;
}
.im-experienced-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  width: auto;
  height: auto;
  transform: rotate(0deg);
  color: var(--color-darkslategray-300);
}
.im-experienced-frame1:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
}
.resume-text {
  width: 508px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
  height: auto;
  transform: rotate(0deg);
}
.resume-text:hover {
  display: flex;
  width: 508px;
  height: auto;
  flex-direction: column;
  gap: var(--gap-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  max-width: 100%;
}
.resume {
  width: 70px;
  height: 25px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.resume:hover {
  font-weight: 500;
  font-family: var(--font-outfit);
  font-size: var(--font-size-xl);
  text-align: left;
  color: var(--font);
  display: flex;
  width: 70px;
  height: 25px;
}
.upload-resume1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: auto;
}
.upload-resume1:hover {
  font-weight: 500;
  font-family: var(--font-outfit);
  font-size: var(--font-size-xl);
  text-align: left;
  color: var(--color-gainsboro-200);
  display: flex;
  flex: 1;
  align-self: stretch;
  height: auto;
}
.upload-resume-wrapper {
  height:;
  width: 188px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-5xl) var(--padding-8xs)
    var(--padding-6xl);
  box-sizing: border-box;
  white-space: nowrap;
  gap: var(--gap-3xs);
}
.upload-resume-wrapper:hover {
  background-color: var(--color-darkslategray-100);
  display: flex;
  width: 188px;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: center;
  justify-content: center;
  border-radius: var(--br-3xs);
  padding: var(--padding-8xs) var(--padding-5xl) var(--padding-8xs)
    var(--padding-6xl);
  box-sizing: border-box;
  white-space: nowrap;
}
.doc-docx-pdf1 {
  height: 20px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-300);
  display: flex;
  align-items: center;
  min-width: 192;
}
.doc-docx-pdf1:hover {
  font-family: var(--font-outfit);
  font-size: var(--font-size-base);
  text-align: left;
  color: var(--color-darkslategray-300);
  display: flex;
  flex: 1;
  height: 20px;
  min-width: 192;
}
.upload-resume-button {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-6xs) var(--padding-7xs)
    var(--padding-8xs);
  gap: var(--gap-3xs);
  width: auto;
  height: auto;
  z-index: 1;
  color: var(--color-gainsboro-200);
}
.upload-resume-button:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-3xs);
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--br-3xs);
  padding: var(--padding-7xs) var(--padding-6xs) var(--padding-7xs)
    var(--padding-8xs);
  box-sizing: border-box;
  border: 1px solid var(--color-black);
}
.email-mobile-frame {
  width: 510px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-8xs) 0px 0px;
  box-sizing: border-box;
  min-height: 105;
  max-width: 100%;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.email-mobile-frame:hover {
  display: flex;
  width: 510px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px var(--padding-8xs) 0px 0px;
  box-sizing: border-box;
  min-height: 105;
  max-width: 100%;
}
.register3 {
  align-self: stretch;
  width: 74px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.register3:hover {
  font-weight: 500;
  font-family: var(--font-outfit);
  font-size: var(--font-size-xl);
  text-align: center;
  color: var(--color-gainsboro-200);
  display: flex;
  width: 74px;
  align-self: stretch;
  height: auto;
}
.register2 {
  width: 140px;
  height: 45px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  z-index: 1;
  text-align: center;
  color: var(--color-gainsboro-200);
}
.register2:hover {
  background-color: var(--color-darkslategray-100);
  display: flex;
  width: 140px;
  height: 45px;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: center;
  justify-content: center;
  border-radius: var(--br-3xs);
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.hero1 {
  flex: 1;
  border-radius: var(--br-mini);
  background-color: var(--color-lightgray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-xl) var(--padding-24xl)
    var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  max-width: 100%;
  flex-shrink: 0;
  height: auto;
}
.hero1:hover {
  background-color: var(--color-lightgray);
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-6xl);
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--br-mini);
  padding: var(--padding-31xl) var(--padding-xl) var(--padding-24xl)
    var(--padding-3xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.hero-section1 {
  height: 587.5px;
  width: 710px;
  border-radius: var(--br-mini);
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  gap: var(--gap-0);
  z-index: 1;
}
.hero-section1:hover {
  display: flex;
  width: 710px;
  height: 587.5px;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--br-mini);
  max-width: 100%;
}
.framehero-section {
  width: 830px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--font);
  font-family: var(--font-outfit);
}
.framehero-section:hover {
  display: flex;
  width: 830px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-end;
  transform: rotate(0deg);
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}

@media screen and (max-width: 900px) {
  .hero1 {
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-9xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .hero1 {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }

  .hero-section1 {
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .time-to-grow1 {
    font-size: var(--font-size-lgi);
  }

  .current-city {
    font-size: var(--font-size-base);
  }

  .work-status {
    font-size: var(--font-size-base);
  }

  .resume {
    font-size: var(--font-size-base);
  }

  .register3 {
    font-size: var(--font-size-base);
  }
}
