.how-jobhub-works {
  margin: 0;
  width: 407px;
  height: 48px;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  max-width: 100%;
}
.how-jobhub-works:hover {
  font-weight: 500;
  font-family: var(--font-outfit);
  font-size: var(--font-size-29xl);
  line-height: 48px;
  text-align: center;
  color: var(--main);
  display: flex;
  max-width: 100%;
}
.circle-wavy-check-duotone-1-icon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  gap: var(--gap-0);
}
.circle-wavy-check-duotone-1-icon:hover {
  display: flex;
  width: 32px;
  height: 32px;
  gap: var(--gap-0);
}
.icon1 {
  cursor: pointer;
  border: none;
  padding: var(--padding-xl);
  background-color: var(--gray-white);
  width: 72px;
  height: 72px;
  border-radius: var(--br-61xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.icon1:hover {
  background-color: var(--gray-white);
  display: flex;
  width: 72px;
  height: 72px;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--br-61xl);
  padding: var(--padding-xl);
  box-sizing: border-box;
}
.apply-job {
  align-self: stretch;
  height: 28px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: flex;
  width: auto;
}
.apply-job:hover {
  font-weight: 500;
  font-family: var(--font-outfit);
  font-size: var(--body-large-500-size);
  line-height: 28px;
  text-align: center;
  color: var(--main);
  display: flex;
  align-self: stretch;
  width: auto;
}
.curabitur-sit-amet {
  align-self: stretch;
  height: 40px;
  position: relative;
  font-size: var(--body-small-400-size);
  line-height: 20px;
  color: var(--gray-500);
  display: flex;
  width: auto;
}
.curabitur-sit-amet:hover {
  font-family: var(--font-outfit);
  font-size: var(--body-small-400-size);
  line-height: 20px;
  text-align: center;
  color: var(--gray-500);
  display: flex;
  align-self: stretch;
  width: auto;
}
.apply-job-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  width: auto;
  height: auto;
  transform: rotate(0deg);
}
.apply-job-parent:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: column;
  gap: var(--gap-xs);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
}
.apply-then {
  flex: 1;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 284;
  max-width: 312;
  width: 100%;
  height: auto;
}
.apply-then:hover {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: var(--gap-5xl);
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--br-xs);
  padding: var(--padding-5xl);
  box-sizing: border-box;
  min-width: 284;
  max-width: 312;
}
.create-account-parent {
  width: 1320px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
  max-width: 100%;
  height: auto;
  transform: rotate(0deg);
  font-size: var(--body-large-500-size);
}
.create-account-parent:hover {
  display: flex;
  width: 1320px;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-5xl);
  align-items: flex-start;
  justify-content: center;
  transform: rotate(0deg);
  max-width: 100%;
}
.working {
  flex: 1;
  background-color: var(--color-ghostwhite-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-81xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  max-width: 100%;
  height: auto;
  z-index: 1;
}
.working:hover {
  background-color: var(--color-ghostwhite-200);
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-31xl);
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-81xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.jendo-logo-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-14xl);
  box-sizing: border-box;
  max-width: 100%;
  width: auto;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--main);
  font-family: var(--font-outfit);
}
.jendo-logo-frame:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: 0px 0px var(--padding-14xl);
  box-sizing: border-box;
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  .how-jobhub-works {
    font-size: var(--font-size-19xl);
    line-height: 38px;
  }

  .working {
    gap: var(--gap-6xl);
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .how-jobhub-works {
    font-size: var(--font-size-10xl);
    line-height: 29px;
  }
}
