:root {
    --blueblue-80: rgba(93, 149, 232, 1);
    --bold-16-font-family: "SourceSans Pro-Bold", Helvetica;
    --bold-16-font-size: 16px;
    --bold-16-font-style: normal;
    --bold-16-font-weight: 700;
    --bold-16-letter-spacing: 0px;
    --bold-16-line-height: 24px;
    --bold-26-font-family: "SourceSans Pro-Bold", Helvetica;
    --bold-26-font-size: 26px;
    --bold-26-font-style: normal;
    --bold-26-font-weight: 700;
    --bold-26-letter-spacing: 0px;
    --bold-26-line-height: 38px;
    --collection-1-font: rgba(21, 22, 30, 1);
    --dark-2: rgba(30, 37, 43, 1);
    --dark-3: rgba(38, 45, 52, 1);
    --dark-4: rgba(44, 53, 61, 1);
    --purplepurple-10: rgba(240, 241, 254, 1);
    --redred: rgba(255, 68, 1, 1);
    --redred-80: rgba(255, 105, 52, 1);
    --redred-90: rgba(255, 87, 26, 1);
    --regular-10-font-family: "SourceSans Pro-Regular", Helvetica;
    --regular-10-font-size: 10px;
    --regular-10-font-style: normal;
    --regular-10-font-weight: 400;
    --regular-10-letter-spacing: 0px;
    --regular-10-line-height: 16px;
    --regular-14-font-family: "SourceSans Pro-Regular", Helvetica;
    --regular-14-font-size: 14px;
    --regular-14-font-style: normal;
    --regular-14-font-weight: 400;
    --regular-14-letter-spacing: 0px;
    --regular-14-line-height: 22px;
    --regular-9-font-family: "SourceSans Pro-Regular", Helvetica;
    --regular-9-font-size: 9px;
    --regular-9-font-style: normal;
    --regular-9-font-weight: 400;
    --regular-9-letter-spacing: 0px;
    --regular-9-line-height: 14px;
    --secondary-colorbackground: rgba(255, 255, 255, 1);
    --secondary-colorbackground-2: rgba(247, 247, 247, 1);
    --secondary-colorsecondary-2: rgba(63, 67, 84, 1);
    --secondary-colorsecondary-3: rgba(151, 152, 157, 1);
    --secondary-colorsecondary-4: rgba(133, 142, 173, 1);
    --secondary-colorsecondary-5: rgba(197, 208, 230, 1);
    --secondary-colorsecondary-6: rgba(244, 246, 248, 1);
    --semibold-10-font-family: "SourceSans Pro-SemiBold", Helvetica;
    --semibold-10-font-size: 10px;
    --semibold-10-font-style: normal;
    --semibold-10-font-weight: 600;
    --semibold-10-letter-spacing: 0px;
    --semibold-10-line-height: 16px;
    --semibold-12-font-family: "SourceSans Pro-SemiBold", Helvetica;
    --semibold-12-font-size: 12px;
    --semibold-12-font-style: normal;
    --semibold-12-font-weight: 600;
    --semibold-12-letter-spacing: 0px;
    --semibold-12-line-height: 18px;
    --semibold-14-font-family: "SourceSans Pro-SemiBold", Helvetica;
    --semibold-14-font-size: 14px;
    --semibold-14-font-style: normal;
    --semibold-14-font-weight: 600;
    --semibold-14-letter-spacing: 0px;
    --semibold-14-line-height: 22px;
    --semibold-16-font-family: "SourceSans Pro-SemiBold", Helvetica;
    --semibold-16-font-size: 16px;
    --semibold-16-font-style: normal;
    --semibold-16-font-weight: 600;
    --semibold-16-letter-spacing: 0px;
    --semibold-16-line-height: 24px;
    --semibold-18-font-family: "SourceSans Pro-SemiBold", Helvetica;
    --semibold-18-font-size: 18px;
    --semibold-18-font-style: normal;
    --semibold-18-font-weight: 600;
    --semibold-18-letter-spacing: 0px;
    --semibold-18-line-height: 26px;
    --semibold-9-font-family: "SourceSans Pro-SemiBold", Helvetica;
    --semibold-9-font-size: 9px;
    --semibold-9-font-style: normal;
    --semibold-9-font-weight: 600;
    --semibold-9-letter-spacing: 0px;
    --semibold-9-line-height: 14px;
    --yellowyellow: rgba(234, 148, 44, 1);
    --yellowyellow-30: rgba(249, 223, 192, 1);
  }
  